*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-family: system-ui;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

main {
  display: grid;
  place-items: center;
  width: min(19.5rem, 95%);
  margin-inline: auto;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

body {
  background-color: var(--clr-main-background);
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

:root {
  --clr-soft-blue: hsl(215, 51%, 70%);
  --clr-cyan: hsl(178, 100%, 50%);
  --clr-main-background: hsl(217, 54%, 11%);
  --clr-card-background: hsl(216, 50%, 16%);
  --clr-underline: hsl(215, 32%, 27%);
  --clr-white: hsl(0, 0%, 100%);
  --transition-time: 0.3s;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--clr-white);
  padding: 1.5rem;
  background-color: var(--clr-card-background);
  border-radius: 1rem;
}

.card-image {
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}
.card-image .card-image-main {
  border-radius: 0.5rem;
}
.card-image::before {
  content: url("/images/icon-view.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50%;
  opacity: 0;
  transition: opacity var(--transition-time) ease-in-out;
  z-index: 3;
}
.card-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--clr-cyan);
  z-index: 2;
  opacity: 0;
  border-radius: 0.5rem;
  transition: opacity var(--transition-time) ease-in-out;
}
.card-image:hover::before {
  opacity: 1;
}
.card-image:hover::after {
  opacity: 0.3;
}

a {
  color: var(--clr-white);
  transition: color var(--transition-time) ease-in-out;
}
a:hover {
  color: var(--clr-cyan);
}

.card-description h1 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}
.card-description p {
  color: var(--clr-soft-blue);
  font-size: 0.975rem;
  opacity: 0.8;
  line-height: 1.3;
  margin-bottom: 1.5rem;
  font-weight: 300;
}
.card-description .card-description-data {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}
.card-description .card-description-data span {
  display: inline-flex;
  gap: 0.4rem;
  align-items: center;
}
.card-description .card-description-data img {
  display: inline;
}
.card-description .card-description-data span {
  font-size: 0.9rem;
}
.card-description .card-description-data .data-price {
  color: var(--clr-cyan);
  font-weight: 700;
}
.card-description .card-description-data .data-price::before {
  content: url("/images/icon-ethereum.svg");
}
.card-description .card-description-data .data-time {
  color: var(--clr-soft-blue);
}
.card-description .card-description-data .data-time::before {
  content: url("/images/icon-clock.svg");
}

.card-author {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid var(--clr-underline);
  padding-top: 1rem;
  font-size: 0.9rem;
}
.card-author img {
  --size: 1.9rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid var(--clr-white);
}
.card-author p {
  color: var(--clr-soft-blue);
}/*# sourceMappingURL=main.css.map */